@page
@model VideoCallApp.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot";
    Layout = "_Layout";
}
<style>
    body {
          background-color: #e5c7ca;
    }
    p{
        font-size:30px;
        color:rgb(125,20,150);
    }
    h1{
        text-align:left;
        font-size:45px;
    }
    form div{
        display:block;
        padding-top:35px;
    }
</style>
<form asp-page="ForgotPassword" method="post" enctype="multipart/form-data">
    <div>
        <input type="email" asp-for="theModel.UserEmail" />
    </div>
    <div>
        <input type="submit" value="Go on"/>
    </div>
</form>
