@page
@model VideoCallApp.Pages.ForgotPassword
@{
}

<html>
    <head>

    <style>

        body {
            background-color: #e5c7ca;
        }
    </style>
    </head>

    <h2> Update your password </h2>
    <input />
</html>
