@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body{
    background-color: #e5c7ca;
    }
    
</style>
<div class="text-center">
    <h1 class="display-4">Video Call App</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">web application</a>.</p>
    
</div>