@page
@model VideoCallApp.Pages.LogInModel
@{
    ViewData["Title"]="Login";
}

<head>
    <style>

        body{
            background-color: #e5c7ca;
        }

        fieldset {
            width: 150px ;
            text-align: center ;
            margin : 0 auto;
        }

        input {
            width: 240px;
            margin-left : -40px;
            border-radius : 10px;
            border-width : 0 ;
        }

        #submit {
            width: 100px;
            border-radius : 15px;
            border-width : 0;
            background-color : red;
            color :whitesmoke;
            margin-bottom : 40px;
            transition : 1s;
        }

        #submit:hover {
            background-color: darkred;
            font-size: larger;
        }

    </style>
</head>

<form method="post">
        <fieldset>
            <legend>Log in</legend>
            <label asp-for="theViewModel.Username">Username</label>
            <input type="text" asp-for="theViewModel.Username" size="50" />
            <div>
                <span asp-validation-for="theViewModel.Username"></span>
            </div>
            <br />
            <label asp-for="theViewModel.Password">Password</label>
            <input type="password" asp-for="theViewModel.Password" size="50" />
            <div>
            <span asp-validation-for="theViewModel.Password"></span>
            </div>
            <br />
            <button id="submit" type="submit" > Log in </button>
            <a asp-page="/ForgotPassword">Forgot password ?</a>
        </fieldset>
 </form>



