@page
@model VideoCallApp.Pages.SignInModel
@{
    ViewData["Title"]="Sign Up";
}
<head>
    
    <style>
    
    body{
    background-color: #e5c7ca;
    }
        fieldset{
    
         width: 30%;
        
        }
        .input_fields{
        margin-bottom: 25px;
        border-radius: 15px;
        border-width: 0;
        } 
        form{
         background-color: #5c636a;
         border-radius: 10px;
         margin-right: 60%;
         margin-left: -40px;
         padding-left: 40px;
        }
        .upload_img{
        margin-bottom: 15px;
        }
        .radio_input{
        margin-bottom: 20px;
        }
        #buttonSubmit{
        transition: 1.5s;
        border-radius: 18px;
        color: #d3d3d4;
        background-color: #0f5132;
        margin-bottom: 20px;
        }
        #buttonSubmit:hover{
        background-color: chartreuse;
        color: #1e2125;
        }
    </style>
    <title> Sign Up </title>
</head>
<form method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Sign Up</legend>
        <label asp-for="theViewModel.FirstName">First name</label>
        <input class="input_fields" asp-for="theViewModel.FirstName" type="text" size="50" />
        <br />
        <label asp-for="theViewModel.LastName">Last name</label>
        <input class="input_fields" type="text" asp-for="theViewModel.LastName" size="50" />
        <br />
        <label asp-for="theViewModel.UserEmail">Email</label>
        <input class="input_fields" type="email" asp-for="theViewModel.UserEmail" size="50" />
        <br />
        <label asp-for="theViewModel.Username">Username</label>
        <input class="input_fields" type="text" asp-for="theViewModel.Username" size="50" />
        <br />
        <label asp-for="theViewModel.Password">Password</label>
        <input class="input_fields" type="text" asp-for="theViewModel.Password" size="50" />
        <label asp-for="theViewModel.Password">Confirm password</label>
        <input class="input_fields" type="password" asp-for="theViewModel.PasswordCopy" size="50" />
        <br />
        <label>The gender of the person</label>
        <br/>
        <label asp-for="theViewModel.Gender"> Male </label>
        <input  asp-for="theViewModel.Gender" type="radio" value="Male"/>
        <label asp-for="theViewModel.Gender"> Female </label>
        <input class="radio_input" asp-for="theViewModel.Gender" type="radio" value="Female"/>
        <br/>
        <label asp-for="theViewModel.ProfileImageUrl">Insert an image</label>
        <input class="upload_img" asp-for="theViewModel.ProfileImageUrl" type="file" />
        <br/>
        <input id="buttonSubmit" type="submit" value="Sign up" />
        <br />
    </fieldset>
</form>
