@page "{UserId:int}"
@model VideoCallApp.Pages.UpdatePasswordModel
@{
    ViewData["Title"] = "Update Password";
    Layout = "_Layout";
}
<form asp-page="UpdatePassword" method="post" enctype="multipart/form-data">
    <fieldset>
        <input type="hidden" asp-for="theChangedUser.UserId"/>
        <div>
            <label asp-for="theModel.Password">Put the old password</label>
        </div>
        <div>
            <input asp-for="theModel.Password" type="password"/>
        </div>
        <div>
            <label asp-for="theModel.Password">Put the new password</label>
        </div>
        <div>
            <input asp-for="theModel.PasswordNew" type="password" />
        </div>
        <div>
            <input type="submit" value="Change the password" />
        </div>
    </fieldset>
</form>
