@page "{userId:int}"
@model VideoCallApp.Pages.VideoCallProfileModel
@{
}
<div>
    <div>
        <h1>Hello @Model.theViewModelUser.Username</h1>
        <p>What are you doing</p>
        <img src="/images/@Model.theViewModelUser.theImage" alt="No image found" style="width:100px;height:100px;">
        <p><a href="/UpdatePassword/@Model.thatUser.UserId">Change the password</a></p>
    </div>
</div>
